.flex-container {
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
  
}

.flex-item {
    width: 200px;
    height: 100px;
    border: rgb(206, 22, 206) solid 1px;
    background-color: pink;

}