
.div1 {
    height: 500px;
    width: 500px;
    background-color: yellow;
    position: absolute;  
    padding: 40px; 
    border: solid 2px;
    box-sizing: border-box;
}

.div2 {
    height: 300px;
    width: 300px;
    background-color:green;
    position: absolute;
    margin: 75px;
    box-sizing: border-box;
    border: dashed 20px;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: absolute;
    box-sizing: border-box;
}



